# === Бинарные файлы и сборка ===
# Исключаем скомпилированные исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
# Исключаем ваш основной бинарник (название из go mod init)
mephi-sfu-server-project
# Папка для локальных билдов
bin/
dist/

# === Зависимости ===
# Папку vendor обычно не коммитят (лучше использовать go.sum)
# Но если вы решите её оставить, закомментируйте строку ниже
vendor/

# === Конфигурация и Секреты (КРИТИЧЕСКИ ВАЖНО) ===
# Файлы переменных окружения (Docker/локальные)
.env
.env.local
# SSL Сертификаты (те самые cert и key из вашего кода)
*.pem
*.crt
*.key
# Токены и секреты LiveKit или других сервисов
configs/*.yaml
!configs/config.example.yaml

# === Логи и Временные файлы ===
*.log
# Данные Kafka/Redis, если они маппятся в локальные папки
data/
temp/

# === Инструменты разработки (IDE) ===
# VS Code
.vscode/
# JetBrains (GoLand)
.idea/

# === Операционная система ===
.DS_Store
Thumbs.db

# === Тестирование и Профилирование ===
# Отчеты о покрытии тестами
*.out
*.prof
# Файлы бенчмарков
*.test
info